aws_profile     = "sarowar-ostad"
region          = "ap-south-1"
instance_type   = "t3.micro"
db_password     = "CHANGE_ME"
domain          = "bmi.ostaddevops.click"
cert_email      = "admin@ostaddevops.click"
route53_zone_id = "Z1019653XLWIJ02C53P5"
key_name        = ""
